body{
    background-color: aquamarine;
}
.navbar{
    background-color: aqua;
    margin:10px;
    padding:10px;
    height:50px;
}
#start{
    display:i.container{
        background-color: rgb(70, 240, 121);
        width:40%;
        top:10%;
        left:35%;
        position:fixed;
        margin:5px;
        padding:8px;
        border:1px solid rgb(18, 66, 7);
        border-radius:6px;
        /* display: flex; 
        align-items:center; */
        flex-wrap:wrap
    
    }
    header{
        display:block;
    }
    h1{
        position:relative;
        left:20px;
        display:block;
    }
    
    label{
        display:block;
        position:relative;
        left:25px;
    }
    input{
        position:relative;
        left:25px;
        width:90%;
        border:1px solid rgb(9, 80, 26);
        border-radius: 5px;
    }
    li{
        list-style-type: none;
        position:relative;
        left:20px;
    }
    select{
        position:relative;
        left:25px;
        border:1px solid rgb(9, 80, 26);
        border-radius: 5px;
        display:block
    
    }
    button{
        background-color: rgb(247, 173, 83);
        border:1px solid rgb(58, 170, 170);
        border-radius: 3px;
        margin:9px;
        padding:3px;
        width:70px;
        height:30px;
        text-align: center;
    
    }
    #subbtn{
       position:relative;
       left:18px;
        
    
    
    }
    button:hover{
        cursor: pointer;
        background-color:rgb(19, 109, 109) ;
        color:white;
    }
    .econtainer{
        background-color: rgb(173, 239, 193);
        width:40%;
        top:60%;
        left:35%;
        position:fixed;
        margin:5px;
        padding:8px;
        border:1px solid rgb(18, 66, 7);
        border-radius:6px;
        /* display: flex; 
        align-items:center; */
        flex-wrap:wrap
    
    }
    
}
#fetchBtn{
    position:relative;
    left:85%;
   
}
li{
    list-style-type: none;
    margin:10px;
    padding: 10px;
    height:30px;
    /* overflow: hidden; */
    border:1px solid black;
}
div.presentdiv{
    position:absolute;
    display:inline;
    /* overflow: hidden;  */
    /* height:30px;
    width:20px; */
    /* background-color: red; */
     left: 700px;
    padding:5px;
    margin:10px;
    /* white-space:nowrap; */
    
}
div.absentdiv{
    position:absolute;
    display:inline;
    /* overflow: hidden; */
    /* height:200px;
    width:20px; */
    /* background-color: red; */
    left: 800px;
    padding:5px;
    margin:10px;
    /* white-space: white-space-trim; */
}
input[type="radio"].rPresent
input[type="radio"].rAbsent
{
    float:left;
    width:30px;
    margin-right:10px;
    display: inline;
    background-color: rgb(103, 223, 34);
    

}
input[type="radio"]:checked{
    background-color: blue;
}
div.checkBox1{
    display:inline;
    position:absolute;
    left:700px;
}
input[type="checkbox"]{
       width:100px;
}
/* label{
    float:left;
    width:90px;
    margin-right:10px;
    display:inline;
} */
/* input.rPresent{
    position: absolute;
    /* left: 400px;
    padding:5px;
    margin:10px; */
/* input.rAbsent{
    position: absolute;
    left: 500px;
    padding:5px;
    margin:10px;
} */
/* label.cPresent{
    position: absolute;
    left: 430px;
} */
/* label.cAbsent{
    position: absolute;
    left: 530px;
   
} */
#mark{
    position:relative;
    top:10px;
    left:10px;
    background-color: rgb(245, 61, 61);
    /* margin:10px; */
    padding:10px;
    border:1px solid red;
    border-radius:3px;
    color:white;
}
#mark:hover{
    background-color: red;
    cursor:pointer;
}
